<div>
    <p><a href="http://taxy.io/">Taxy.io</a> is an award-winning tech startup that brings tax and legal advice to the
        next level with artificially intelligent software. Our solutions help leading tax and law firms in Germany and
        Austria to consult their clients in a faster and better way.</p>
    <p><strong>You will get interesting tasks!</strong></p>
    <p>The team of <a href="http://taxy.io/">Taxy.io</a> is looking for a Software Developer - Frontend / React (m/f/x)
        who will work on our frontend, which includes both the development of React applications and Microsoft Office
        Add-ins.</p>
    <p><strong>Do we got a match? Your profile</strong></p>
    <ul>
        <li>2+ years experience of having worked as a frontend developer in a scrum team</li>
        <li>Excellent software development skills, in particular in React and JavaScript</li>
        <li>At best, you already have experience in implementing Microsoft Office Add-Ins</li>
        <li>Passion for crafting high quality and elegant code</li>
        <li>Strong interest in new technologies and willingness to learn new things</li>
        <li>Experience in processing data from REST APIs</li>
        <li>Independent and solution-oriented work method</li>
        <li>Experience in agile software development as part of a scrum team (including the regular scrum meetings, pull
            requests, code reviews, and tools like Jira, Bitbucket, Confluence)</li>
        <li>Strong communication skills and team player</li>
        <li>Proficient knowledge of the English language</li>
    </ul>
    <p><strong>Why join the <a href="http://taxy.io/">Taxy.io</a> adventure?</strong></p>
    <p>At <a href="http://taxy.io/">Taxy.io</a> you are at the pulse of time - technology and work wise: You are working
        as a member of a great agile team of driven people ranging from tech experts and data scientists to experienced
        startup managers. From day 1 you are dealing with responsibility and always are guided to the best professional
        and personal growth. Here you can work with a flexible schedule and different, but always fancy places. Of
        course, we pay a competitive salary.
        Do you want to have fun with a great young team while disrupting the tax and legal technology industry?</p>
    <p><img
            src="https://camo.githubusercontent.com/1689644667c6c8ca0f834d2f5e67e7db72b566cb/68747470733a2f2f742e676f686972696e672e636f6d2f682f63346532366631323831383435633162346662333365313537343563336661303739303566316231356631346665303930643564643436626635646632636135">
    </p>
</div>